$bg : #E1E1E1;
$green : #55BB06;
$green_hover : #4aa205;
$gray : #707276;
$card_color: #fff;
$card_color_secondary: #F5F5F5;
$list_hover_color: #EBEBEB;
$light_gray: #B9B9B9;
$link_color: #7284E4;
$orange: #FF9900;
$red: #FF5F50;
$black: #202123;

$secondaru_btn_text_color: #5763B3;
$secondaru_btn_bg_color: #EAF0FA;
$secondaru_btn_bg_color_hover: #d5e1f5;


